* {
    order: 1px solid red;
}

/* aqui empieza los contactos */

.TituloContacto p {
    text-align: center;
    color: #719a0a;
    font-size: 20px;
    font-weight: 600;
}

.TituloContacto h2 {
    font-weight: 700;
    font-size: 45px;
    color: #4b4a4a;
    text-align: center;
}

.consultas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto {
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    padding: 60px 0;
    margin: 45px 0px;
    background: rgba(0, 0, 0, .04);
}

.contacto img {
    width: 30%;
    height: 70px;
    align-self: center;
}

.contacto2 {
    display: flex;
    width: 20%;
    font-family: 'Nunito', sans-serif;
    gap: 5px;
    text-align: center;
}

.direccion {
    margin: auto;
}

.direccion h3 {
    color: #719a0a;
}

.IconosRedes img {
    width: 30px;
    height: auto;
    margin: 2px;
}

.ubicacion {
    display: flex;
    gap: 80px;
    padding: 3% 0;
    margin: 0px 100px;
}

.mapa {
    width: 80%;
}

.mapa iframe {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

/* aqui empieza el formulario */

.form {
    text-align: center;
    width: 80%;
    height: auto;
    font-size: 14px;
}

.form input {
    margin-bottom: 15px;
    height: 45px;
    font-size: 14px;
    width: 100%;
    color: #524f4f;
    border-radius: 5px !important;
    border: 1px solid #c9c7c7;
    background: transparent;
}

.form textarea {
    width: 100%;
    border-radius: 5px !important;
    margin-bottom: 15px;
}

button {
    padding: 8px 15px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgb(29, 114, 47);
    background: #fbaf32;
    border: 2px solid #fbaf32;
    border-radius: 5px;
}


@media (max-width:700px) {
    .TituloContacto h2 {
        font-size: 200%;
    }

    .contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 10px;
        width: 85%;
        & img {
            width: 20%;
            height: auto;
            align-self: center;
        }
    }

    .contacto2 {
        margin: 3%;
        width: 66%;
        align-self: center;
    }

    .direccion img {
        width: 15%;
    }

    .ubicacion {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0;
        align-items: center;
        padding: 0;
        gap: 30px;
    }

    .mapa {
        width: 70%;
        height: 300px;
    }

    .form {
        width: 70%;
        text-align: center;
        margin-bottom: 10px;

        & input {
            width: 99%;
        }
        & textarea {
            width: 99%;
        }
    }

    * {
        order: 1px solid blue;
    }
}

@media (max-width:500px){
    .TituloNovedades{
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }

    .mapa{
        width: 90%;
    }

    .form{
        width: 90%;
    }

}