/* aqui empieza contenido */

* {
    order: 1px solid red;
}

/* aqui empieza el catalogo de productos */

.tituloCatalogo {
    text-align: center;
    padding: 30px;
}

.catalogo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    gap: 3%;
    margin-bottom: 2%;
}

.carta {
    display: block;
    width: 12%;

    & p {
        text-align: center;
        color: rgb(29, 114, 47);
        font-weight: 600;
        font-size: 100%;
        margin-bottom: 15px;
    }
}

.carta img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    border: 0.5px solid gray;
    cursor: pointer;
}

.carta:hover {
    transform: scale(1.1);

}

/* aqui esta el menu descargable */

.MenuDescargable {
    text-align: center;

    & a {
        color: rgb(219, 9, 9);
    }
}

/* aqui empieza la media a 700px */

@media (max-width:700px) {
    /* aqui empieza el contenido */

    .comidas {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    /* aqui empieza el catalogo */

    .catalogo h1 {
        font-size: 40px;
    }

    .MenuDia {
        display: flex;
        flex-direction: column;
        align-items: center;

        & img {
            width: 75%;
        }
    }

    /* aqui empieza el menu descargable */

    .carta {
        width: 25%;
    }

    * {
        order: solid red 1px;
    }
}